/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    padding: 20px 0px 20px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .social-icons {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      .icons {
        font-size: 30px;
        cursor: pointer;
      }
    }
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
    .social-icons {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icons {
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
    .social-icons {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icons {
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
      }
    }
    .social-icons {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icons {
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
      }
    }
    .social-icons {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icons {
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}
