/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    padding: 20px 0px 20px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .social-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .social-icons-wrapper .icon {
      margin: 0 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      background: black;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span .icons {
      color: white;
      font-size: 40px;
    }
    .social-icons-wrapper .icon .tooltip {
      position: absolute;
      top: 0;
      z-index: 1;
      background: #fff;
      color: #fff;
      padding: 10px 18px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 25px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover .tooltip {
      top: -70px;
      opacity: 1;
      pointer-events: auto;
    }
    .icon .tooltip:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background: #fff;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%) rotate(45deg);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover span {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span .icons {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span,
    .social-icons-wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    }

    .social-icons-wrapper .instagram:hover span,
    .social-icons-wrapper .instagram:hover .tooltip,
    .social-icons-wrapper .instagram:hover .tooltip:before {
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
    }
    .social-icons-wrapper .github:hover span,
    .social-icons-wrapper .github:hover .tooltip,
    .social-icons-wrapper .github:hover .tooltip:before {
      background: #333;
    }
    .social-icons-wrapper .youtube:hover span,
    .social-icons-wrapper .youtube:hover .tooltip,
    .social-icons-wrapper .youtube:hover .tooltip:before {
      background: #0a66c2;
    }
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
    .social-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .social-icons-wrapper .icon {
      margin: 0 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      background: black;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span .icons {
      color: white;
      font-size: 40px;
    }
    .social-icons-wrapper .icon .tooltip {
      position: absolute;
      top: 0;
      z-index: 1;
      background: #fff;
      color: #fff;
      padding: 10px 18px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 25px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover .tooltip {
      top: -70px;
      opacity: 1;
      pointer-events: auto;
    }
    .icon .tooltip:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background: #fff;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%) rotate(45deg);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover span {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span .icons {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span,
    .social-icons-wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    }

    .social-icons-wrapper .instagram:hover span,
    .social-icons-wrapper .instagram:hover .tooltip,
    .social-icons-wrapper .instagram:hover .tooltip:before {
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
    }
    .social-icons-wrapper .github:hover span,
    .social-icons-wrapper .github:hover .tooltip,
    .social-icons-wrapper .github:hover .tooltip:before {
      background: #333;
    }
    .social-icons-wrapper .youtube:hover span,
    .social-icons-wrapper .youtube:hover .tooltip,
    .social-icons-wrapper .youtube:hover .tooltip:before {
      background: #0a66c2;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
    .social-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .social-icons-wrapper .icon {
      margin: 0 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      background: black;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span .icons {
      color: white;
      font-size: 40px;
    }
    .social-icons-wrapper .icon .tooltip {
      position: absolute;
      top: 0;
      z-index: 1;
      background: #fff;
      color: #fff;
      padding: 10px 18px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 25px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover .tooltip {
      top: -70px;
      opacity: 1;
      pointer-events: auto;
    }
    .icon .tooltip:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background: #fff;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%) rotate(45deg);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover span {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span .icons {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span,
    .social-icons-wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    }

    .social-icons-wrapper .instagram:hover span,
    .social-icons-wrapper .instagram:hover .tooltip,
    .social-icons-wrapper .instagram:hover .tooltip:before {
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
    }
    .social-icons-wrapper .github:hover span,
    .social-icons-wrapper .github:hover .tooltip,
    .social-icons-wrapper .github:hover .tooltip:before {
      background: #333;
    }
    .social-icons-wrapper .youtube:hover span,
    .social-icons-wrapper .youtube:hover .tooltip,
    .social-icons-wrapper .youtube:hover .tooltip:before {
      background: #0a66c2;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
      }
    }
    .social-icons {
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icons {
        font-size: 40px;
        cursor: pointer;
      }
    }
    .social-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .social-icons-wrapper .icon {
      margin: 0 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      background: black;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span .icons {
      color: white;
      font-size: 40px;
    }
    .social-icons-wrapper .icon .tooltip {
      position: absolute;
      top: 0;
      z-index: 1;
      background: #fff;
      color: #fff;
      padding: 10px 18px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 25px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover .tooltip {
      top: -70px;
      opacity: 1;
      pointer-events: auto;
    }
    .icon .tooltip:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background: #fff;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%) rotate(45deg);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover span {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span .icons {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span,
    .social-icons-wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    }

    .social-icons-wrapper .instagram:hover span,
    .social-icons-wrapper .instagram:hover .tooltip,
    .social-icons-wrapper .instagram:hover .tooltip:before {
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
    }
    .social-icons-wrapper .github:hover span,
    .social-icons-wrapper .github:hover .tooltip,
    .social-icons-wrapper .github:hover .tooltip:before {
      background: #333;
    }
    .social-icons-wrapper .youtube:hover span,
    .social-icons-wrapper .youtube:hover .tooltip,
    .social-icons-wrapper .youtube:hover .tooltip:before {
      background: #0a66c2;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about-wrapper {
    font-family: "Montserrat";
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    a {
      text-decoration: none;
      color: white;
    }
    .about-wrapper-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        height: 350px;
        object-fit: cover;
      }
    }

    .social-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .social-icons-wrapper .icon {
      margin: 0 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 60px;
      background: black;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon span .icons {
      color: white;
      font-size: 40px;
    }
    .social-icons-wrapper .icon .tooltip {
      position: absolute;
      top: 0;
      z-index: 1;
      background: #fff;
      color: #fff;
      padding: 10px 18px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 25px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover .tooltip {
      top: -70px;
      opacity: 1;
      pointer-events: auto;
    }
    .icon .tooltip:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background: #fff;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%) rotate(45deg);
      transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .social-icons-wrapper .icon:hover span {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span .icons {
      color: #fff;
    }
    .social-icons-wrapper .icon:hover span,
    .social-icons-wrapper .icon:hover .tooltip {
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    }

    .social-icons-wrapper .instagram:hover span,
    .social-icons-wrapper .instagram:hover .tooltip,
    .social-icons-wrapper .instagram:hover .tooltip:before {
      background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
      );
    }
    .social-icons-wrapper .github:hover span,
    .social-icons-wrapper .github:hover .tooltip,
    .social-icons-wrapper .github:hover .tooltip:before {
      background: #333;
    }
    .social-icons-wrapper .youtube:hover span,
    .social-icons-wrapper .youtube:hover .tooltip,
    .social-icons-wrapper .youtube:hover .tooltip:before {
      background: #0a66c2;
    }
  }
}
