/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .certificate-wrapper {
    color: white;
    padding: 20px 0px;
    .certificate-wrapper-wrapper {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0px;
    }
    .certificate-wrapper-row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      margin: 20px 0px;
      .certificate-wrapper-row-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        color: #6a9ec9;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        gap: 50px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .certificate-wrapper {
    color: white;
    padding: 20px 0px;
    .certificate-wrapper-wrapper {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0px;
    }
    .certificate-wrapper-row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      margin: 20px 0px;
      .certificate-wrapper-row-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        color: #6a9ec9;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        gap: 50px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .certificate-wrapper {
    color: white;
    padding: 20px 0px;
    .certificate-wrapper-wrapper {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0px;
    }
    .certificate-wrapper-row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      margin: 20px 0px;
      .certificate-wrapper-row-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        color: #6a9ec9;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        gap: 50px;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .certificate-wrapper {
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    .certificate-wrapper-wrapper {
      text-align: center;
      font-size: 2.5rem;
    }
    .certificate-wrapper-row {
      margin: 40px 0px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .certificate-wrapper-row-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        color: #6a9ec9;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 50px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .certificate-wrapper {
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    .certificate-wrapper-wrapper {
      text-align: center;
      font-size: 2.5rem;
    }
    .certificate-wrapper-row {
      margin: 40px 0px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .certificate-wrapper-row-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        color: #6a9ec9;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 50px;
      }
    }
  }
}
