/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .education-wrapper {
    color: white;
    padding: 20px 0px;

    .education-wrapper-header {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0px;
    }
    .education-skill-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
      margin: 40px 0px;
      .education-skill-wrapper-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 20px;
        font-weight: 500;
        .name {
          color: #6a9ec9;
          font-size: 1rem;
        }
        .year,
        university {
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .education-wrapper {
    color: white;
    padding: 20px 0px;

    .education-wrapper-header {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 0px;
    }
    .education-skill-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 40px;
      margin: 40px 0px;
      .education-skill-wrapper-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 20px;
        font-weight: 500;
        .name {
          color: #6a9ec9;
          font-size: 1rem;
        }
        .year,
        university {
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .education-wrapper {
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    Container {
      border-bottom: 2px solid gray;
    }
    .education-wrapper-header {
      text-align: center;
      font-size: 2.5rem;
    }
    .education-skill-wrapper {
      display: flex;
      gap: 40px;
      margin: 40px 0px;
      .education-skill-wrapper-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        .name {
          color: #6a9ec9;
          font-size: 1.5rem;
        }
        .year,
        university {
          font-size: 1rem;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .education-wrapper {
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    Container {
      border-bottom: 2px solid gray;
    }
    .education-wrapper-header {
      text-align: center;
      font-size: 2.5rem;
    }
    .education-skill-wrapper {
      display: flex;
      gap: 40px;
      margin: 40px 0px;
      .education-skill-wrapper-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        .name {
          color: #6a9ec9;
          font-size: 1.5rem;
        }
        .year,
        university {
          font-size: 1rem;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .education-wrapper {
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    Container {
      border-bottom: 2px solid gray;
    }
    .education-wrapper-header {
      text-align: center;
      font-size: 2.5rem;
    }
    .education-skill-wrapper {
      display: flex;
      gap: 40px;
      margin: 40px 0px;
      .education-skill-wrapper-col {
        box-shadow: 0px 0px 16px 5px rgb(242, 240, 240);
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 500;
        .name {
          color: #6a9ec9;
          font-size: 1.5rem;
        }
        .year,
        university {
          font-size: 1rem;
        }
      }
    }
  }
}
